<mat-card class="container">
  <mat-card-header>
    <mat-card-title> Palpitar Jogo </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <label>Seleção A</label>
    <div>
      <select  [(ngModel)]="selecaoAId">
        <option *ngFor="let selecao of selecoes" [value]="selecao.id">{{selecao.nome}}</option>
      </select>
    </div>

    <label>Palpite A</label>
    <div>
      <mat-form-field class="input" id="pp2">
        <mat-label for="pp2">Palpite:</mat-label>
        <input matInput type="text" name="pp2" [(ngModel)]="palpite2"/>
      </mat-form-field>
    </div>
    
    <label>Seleção B</label>
    <div>
      <select [(ngModel)]="selecaoBId">
        <option *ngFor="let selecao of selecoes" [value]="selecao.id">{{selecao.nome}}</option>
      </select>
    </div>

      

    <label>Palpite B</label>
    <div>
      <mat-form-field class="input" id="pp2">
        <mat-label for="pp2">Palpite:</mat-label>
        <input matInput type="text" name="pp2" [(ngModel)]="palpite2"/>
      </mat-form-field>
    </div>

    <button id="btnCadastrar" (click)="cadastrar()" style="margin-top: 1rem; padding:0rem 5rem">Palpitar</button>

  </mat-card-content>

</mat-card>
